html {
  box-sizing: border-box;
}

div,
section {
  display: flex;
  align-items: center;
}

div {
  max-width: 65vw;
  align-items: stretch;
  margin: auto;
}

span {
  border: 1px solid black;
  text-align: center;
  flex-grow: 1;
  padding: 20px 0 50px 0;
}

.notes {
  flex-direction: column;
}

.notes span {
  width: 100%;
}

.week {
  flex-flow: wrap;
}

.week span:nth-child(1),
.week span:nth-child(7) {
  /* width: 100%; */
  flex-basis: 100%;
}
