* {
  font-family: Helvetica, sans-serif;
}

body {
  background-color: rgb(238, 238, 238);
  padding: 50px;
}

section {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px gray;
  width: min-content;
  background-color: white;
  border-radius: 5px;
}

.image img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.content {
  padding: 20px;
}

h2 {
  font-family: Georgia, serif;
  font-size: 1em;
}

button {
  background-color: rgb(0, 153, 0);
  border: none;
  padding: 5px 15px;
  color: white;
  border-radius: 3px;
  float: right;
}
